@font-face {
    font-family: Hack;
    src: url("./fonts/Hack-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Hack;
    src: url("./fonts/Hack-BoldItalic.ttf") format("ttf");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-size: 12px;
    background-color: white;

    font-family: Hack, sans-serif;
}

p {
    font-size: 1rem;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    row-gap: 8rem;
    width: 700px;
    height: 500px;
}

.hold {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;

    overflow: hidden;

    width: 505px;
    height: 319px;
    padding: 1rem;

    border-radius: 20px;

    color: white;

    background-color: transparent;
    filter: drop-shadow(0px 0px 10px #00000088);
    transform: rotate3d(1, 1, 0, 0deg);
    transition: filter 0.5s ease-in-out, background-color 0.5s ease-in-out, transform 0.5s ease;
}

.card-area {
    position: absolute;

    margin-top: -1rem;
    margin-left: -1rem;

    width: 100%;
    height: 100%;
}

.card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -1rem;
    margin-left: -1rem;

    background: rgb(94, 43, 255);
    background: linear-gradient(
            45deg,
            rgba(94, 43, 255, 1) 0%,
            rgba(192, 76, 253, 1) 100%
    );

    transition: margin-left 0.5s ease-in-out;
}

.card-region {
    display: inline-block;
    width: 49%;
    height: 50%;
}


.card:hover {
    position: relative;
    z-index: 10;
    border: solid 2px black;

    filter: drop-shadow(0px 0px 20px #00000088);
}

.card:hover .card-background {
    margin-left: -100%;
}

.card:hover .card-line {
    opacity: 0;
}

.card-alt-background:hover .card-line {
    opacity: 100%;
}

.card-menu-button {
    position: absolute;
    right: 0;
    bottom: 0;

    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: none;

    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-right: 5rem;
    padding-left: 3rem;
}

.card-alt-color {
    color: black;
}

.card-alt-background {
    background: rgb(247,246,197);
    background: linear-gradient(5deg, rgba(247,246,197,1) 0%, rgba(243,250,225,1) 100%);
}

.card-menu {
    padding-left: 2rem;
    padding-top: 2rem;
    position: absolute;
    width: 100%;
    max-height: 319px;;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    color: black;
}

.chip {
    position: absolute;
    right: 5rem;
    bottom: -1.5rem;
    width: 4.5rem;
}

.card-line {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;

    transition: opacity 0.125s ease-in-out;
}

.info-div {
    padding: 1rem;
    max-width: 20rem;
}

.second-word {
    transform: scale(1.2);
}

.logo {
    height: 1.8rem;
    filter: invert(100%);
}

.beta-tag {
    color: white;
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 20px;
    background-color: deeppink;
}

.button-flex {
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 1rem;
}

.hero-button {
    --feature-color: #C04CFD;
    --feature-color-hover: #993cca;

    margin-top: 1rem;
    font-size: 1rem;
    font-family: Hack, sans-serif;
    font-weight: bold;
    background-color: var(--feature-color);
    border: none;
    color: white;
    padding: 0.5rem 2rem;
}

.hero-button:hover {
    background-color: var(--feature-color-hover);
}

.divider-text {
    position: absolute;
}

.hide-card-button {

}